.lead__image{
    display: block;
    margin: 0 3.9% 0;
    max-width: 100%;
    box-sizing: border-box;


    
}


@media (max-width:1024px){
    .lead__image{
        margin: 0 4% 0;
        max-width: 90.65%;
  }
  }


  @media (max-width:768px){
    .lead__image{
        margin: 0;
        max-width: 100%;
  }
  }
