.cover__subtitle{
    position: relative;
    z-index: 1;
    align-self: center;
    margin: 0 auto 195px;
    padding: 0;
    max-width: 360px;
    min-height: 66px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width:425px){
    .cover__subtitle{
        max-width: 288px;
        font-size: 14px;
        line-height: 114%;
    }
}