.place__website{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    margin-bottom: 48px;
    max-width: 486px;
}
@media (max-width: 425px){
    .place__website{
        display: none;
    }
}
