.photo-grid{
   display: grid;
   grid-template-columns:repeat(auto-fit, minmax(284px, 1fr));
   grid-template-rows: auto;
   justify-content: center;
   margin: 92px 0 92px;
   padding: 0 auto 0;
   max-width: 1184px;
   gap: 16px;
    
}
