.footer__links{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    align-items: center;

}
@media (max-width:425px){
    .footer__links {
        flex-direction: column;
    }
}
