.footer__links{
    margin-top: 2.5%;
    display: flex;

}
@media (max-width:425px){
    .footer__links {
        margin-top: 0;
        margin-bottom: 16px;
        flex-direction: column;
        
    }
}
