
.footer__link{
    margin-left: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 1s ease;
}
@media (max-width:425px){
    .footer__link {
        margin-bottom: 32px;
        text-align: left;
    }
}

.footer__link:hover{
    opacity:0.8;
}