
.place{
    display: grid;
    max-width: 984px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 48px 40px;
  }
  
  @media (max-width: 1024px){
      .place{
         grid-template-columns: minmax(auto, 440px) 1fr;
         gap: 48px 32px;
      }
  }
  @media (max-width: 768px){
      .place{
        grid-template-columns: minmax(auto, 340px) 1fr;
        gap: 48px 28px;
      }
  }
  
  
  
  @media (max-width: 580px){
      .place{
          margin-bottom: 24px;
          display: block;
          max-width: 320px;
      }
  }
  
  
