@font-face{
    src: 
    url(./Inter-Regular.woff2) format('woff2'),
    url(./block/fonts/Inter-Regular.woff) format('woff'),
    url(./block/fonts/Inter-Regular.ttf) format('truetype'),
    url(./block/fonts/Inter-Regular.otf) format('otf');
    font-family: 'Inter';
    font-weight: normal;
}
@font-face{
    src: 
    url(./Inter-Bold.woff2) format('woff2'),
    url(./fonts/Inter-Bold.woff) format('woff'),
    url(./fonts/Inter-Bold.ttf) format('truetype'),
    url(/block/fonts/Inter-Bold.otf) format('otf');
    font-family: 'Inter';
    font-weight: bold;
}
@font-face{
    src: 
    url(./Inter-Black.woff2) format('woff2'),
    url(./block/fonts/Inter-Black.woff) format('woff'),
    url(./block/fonts/Inter-Black.ttf) format('truetype'),
    url(./block/fonts/Inter-Black.otf) format('otf');
    font-family: 'Inter';
    font-weight: black;
}
