.lead{
    max-width: 100%;
    min-height: 1005px;
    padding: 0;
    border: 1px solid red;
    }

@media (max-width: 1024px){
    .lead{
        min-height: 962px;

    }
}

@media (max-width: 768px){
    .lead{
        min-height: 862px;
        
    }
}

@media (max-width: 320px){
    .lead{
        min-height: 406px;
        
    }
}
