.intro{
    margin-top: 92px;
    margin-left: calc(148px - 48px);
    padding: 0;
    width: 690px;
    min-height: 429px;
}

@media (max-width: 1024px){
    .intro{
        margin-left: 48px;
   }
}
@media (max-width: 768px){
    .intro{
        margin:0 auto 0;
        width: 720px;

        
   }
}
@media (max-width: 320px){
    .intro{
        width: 288px;
        min-height: 754px;
   }
}