.intro{
    margin-top: 92px;
    margin-left: 8.5%;
    padding: 0;
    max-width: 690px;
}

@media (max-width: 1024px){
    .intro{
        margin-left: 4.7%;
   }
}

@media (max-width: 768px){
    .intro{
        margin: 0;
        padding: 88px 3.1% 0;
   }
}

@media (max-width: 320px){
    .intro{
        padding: 64px 3.2% 0;
   }
}