.places{
    margin: 0;
    padding: 0 8.5% 92px;
}

@media (max-width:1024px){
    .places{
        padding: 0 4.7% 90px;
        max-width: 90%;
    }
}

@media (max-width:1024px){
    .places{
        padding: 0 3.1% 90px;
        max-width: 95%;
    }
}


@media (max-width:320px){
    .places{
        padding: 0 0 41px;
        max-width: 100%;
    }
}